            .letra {
                font-size: 25px;
                color: gray;
                margin: 0 5px;
                font-family: 'Kanit', sans-serif;
                font-weight: bold;
            }
            
            .cabecera {
                border-bottom: 5px solid gray;
            }
            
            a:hover {
                background: #D8D8D8;
                border-radius: 5px;
            }
            
            .logo {
                display: flex;
                align-items: center;
            }
            
            nav {
                font-size: 20px;
                font-weight: bold;
            }
            
            nav {
                width: 100%;
            }
            
            nav h2 {
                font-family: 'Kanit', sans-serif;
                font-size: 50px;
                text-align: center;
                color: white;
            }
            
            nav h3 {
                font-family: 'Kanit', sans-serif;
                font-size: 50px;
                text-align: center;
                color: white;
            }
            /*imagen responsive*/
            
            .imgResponsive img {
                object-fit: initial;
            }
            /* section*/
            
            section {
                width: 90%;
                margin: auto;
                display: grid;
                grid-template-columns: 60% 40%;
                grid-template-rows: auto auto auto;
                grid-template-areas: "concepto__section imgResponsive" "ventajas__section imgResponsive" "imagen2__section importancia__section";
            }
            
            .imagen2__section {
                grid-area: imagen2__section;
            }
            
            .imagen2__section img {
                width: 90%;
                display: block;
                margin: auto;
                height: 100%;
            }
            
            .importancia__section {
                grid-area: importancia__section;
                padding: 20px;
            }
            
            .importancia__section h2 {
                text-align: center;
                font-family: 'Solway', serif;
            }
            
            .importancia__section p {
                font-size: 18px;
                line-height: 30px;
            }
            
            .concepto__section {
                grid-area: concepto__section;
                background: #343434;
                padding: 20px;
                padding-bottom: 0;
            }
            
            .concepto__section h1 {
                color: white;
                text-align: center;
                font-family: 'Solway', serif;
                padding: 10px 0px;
            }
            
            .concepto__section p {
                color: white;
                line-height: 30px;
                font-size: 18px;
            }
            
            .imgResponsive {
                grid-area: imgResponsive;
            }
            
            .ventajas__section {
                grid-area: ventajas__section;
                padding: 20px;
                background: #ECF0F1;
            }
            
            .ventajas__section li {
                line-height: 33px;
                color: black;
                list-style-type: square;
                font-size: 18px;
            }
            
            .ventajas__section h2 {
                font-family: 'Solway', serif;
                color: black;
                text-align: center;
            }
            /*footer*/
            
            footer {
                width: 100%;
                text-align: center;
                background: #3f3f3f;
                padding-top: 20px;
                border-top: 2px solid lightslategray;
            }
            
            footer div {
                width: 100%;
                margin: auto;
            }
            
            footer i {
                padding: 5px;
                cursor: pointer;
            }
            
            footer h3,
            footer h4 {
                font-size: 20px;
                font-family: 'Overpass', sans-serif;
                font-weight: bold;
                color: white;
                margin: 0;
                padding: 3px;
            }
            
            footer a {
                text-decoration: none;
                color: white;
                padding: 10px 0;
                padding-right: 20px;
                padding-left: 20px;
                transition: 1s;
                border-radius: 10px;
            }
            
            footer .fa-facebook-f {
                background: #3b5998;
            }
            
            footer .fa-facebook-messenger {
                background: #0084ff;
            }
            
            footer .fa-whatsapp {
                background: #25d366;
            }
            
            footer a:hover {
                color: white;
                text-decoration: none;
                transform: scale(1.2);
            }
            /*social*/
            
            .social .fab {
                width: 20px;
                text-align: center;
                font-size: 24px;
            }
            
            .social {
                position: fixed;
                left: -40px;
                top: 250px;
            }
            
            .social ul {
                list-style: none;
            }
            
            .social a {
                display: inline-block;
                text-decoration: none;
                color: white;
                padding: 10px 0;
                padding-right: 40px;
                padding-left: 20px;
                z-index: 1;
                transition: 0.1s ease;
            }
            
            .social .fa-facebook-f {
                background: #3b5998;
            }
            
            .social .fa-facebook-messenger {
                background: #0084ff;
            }
            
            .social .fa-whatsapp {
                background: #25d366;
            }
            
            .social a:hover {
                padding: 10px 45px;
            }
            /* responsive */
            
            @media screen and (max-width:850px) {
                section {
                    grid-template-columns: 60% 40%;
                    grid-template-rows: auto auto auto;
                    grid-template-areas: "concepto__section concepto__section" "importancia__section importancia__section" "ventajas__section ventajas__section" "imagen2__section imagen2__section ";
                }
                section h1,
                h2 {
                    font-size: 20px;
                }
                section p {
                    text-align: justify;
                }
                .social .fa-facebook-f {
                    background: #3b5998;
                    opacity: 0.7;
                }
                .social .fa-facebook-messenger {
                    background: #0084ff;
                    opacity: 0.7;
                }
                .social .fa-whatsapp {
                    background: #25d366;
                    opacity: 0.7;
                }
                .concepto__section p {
                    font-size: 15px;
                }
                .importancia__section p {
                    font-size: 15px;
                }
                .ventajas__section li {
                    font-size: 15px;
                }
            }
            
            @media screen and (min-width:851px) and (max-width:1100px) {
                section {
                    grid-template-columns: 40% 60%;
                    grid-template-rows: auto auto auto;
                    grid-template-areas: "concepto__section imgResponsive" "ventajas__section imgResponsive" "importancia__section imagen2__section";
                }
            }